<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="dummy">
<test thread-count="1" name="Test">
<groups>
<run>
<include name="smoke"/>
<exclude name="regression"/>
</run>
</groups>
<classes>
<class name="week4.TestNGDemoPriority"/>
</classes>
</test> <!-- Test -->
</suite> <!-- dummy -->
